<div class="center hero-unit">
  	<h1>Information Management System for Table37</h1>

  <h2>
    Visit the product home page at
    <a href="http://www.table37.com/">Table37</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

