<h1>Editing Parent Company Info</h1>
<div class="row">
  
<%= render 'form' %>
<div class="span6">
<%= link_to 'Show', @parent, class: "btn btn-small btn-success"  %>
<%= link_to 'Back', parents_path, class: "btn btn-small btn-inverse"  %>
</div>
</div>
